.formWrapper {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 40%);

  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  max-width: 600px;

  transition: ease-in-out all .5s;
}

#floatingInput {
  width: 600px;
  height: 50px;

  transition: ease-in-out all .5s;
}

#selector {
  width: 600px;
  height: 55px;

  transition: ease-in-out all .5s;
}

#Submit {
  margin-top: 20px;
  margin-right: auto;
}
#Submit:hover {
  scale: 1.1;
}

@media (max-width: 750px) {
    .formWrapper {
      width: 500px;
    }
    #floatingInput {
      width: 500px;
    }
    #selector {
      width: 500px;
    }
}
@media (max-width: 500px) {
    .formWrapper {
        width: 350px;
    }
    #floatingInput {
        width: 350px;
    }
    #selector {
        width: 350px;
    }
}

.tip {
  background-color: #f8f9fa;
  width: 400px;
}