.formWrapper {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 40%);

  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  max-width: 600px;

  transition: ease-in-out all .5s;
}

#floatingInput {
  width: 600px;
  height: 50px;

  transition: ease-in-out all .5s;
}

.main-li {
  margin-bottom: 10px;
  font-weight: 500;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.main-li::marker {
  color: #cb55a1;
}

.li-title {
  font-weight: 600;
}

#selector {
  width: 600px;
  height: 55px;

  transition: ease-in-out all .5s;
}

#Tips-Button {
  margin-bottom: 20px;
  margin-right: auto;
}
#Tips-Button:hover {
  scale: 1.1;
}


#Submit {
  margin-top: 20px;
  margin-right: auto;
}
#Submit:hover {
  scale: 1.1;
}

@media (max-width: 750px) {
    .formWrapper {
      width: 500px;
    }
    #floatingInput {
      width: 500px;
    }
    #selector {
      width: 500px;
    }
}
@media (max-width: 500px) {
    .formWrapper {
        width: 350px;
    }
    #floatingInput {
        width: 350px;
    }
    #selector {
        width: 350px;
    }
}

.tip {
  background-color: #f8f9fa;
  width: 400px;
}