.Product-Card {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    max-width: 20em;
}

.Small-Text {
    font-weight: 700;
}

@media (max-width: 400px) {
    .Product-Card {
        max-width: 15em;
    }
}