.formWrapper {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  margin: 100px
}

#floatingInput {
  width: 700px;
  height: 50px;

  transition: ease-in-out all .5s;
}

#selector {
  width: 700px;
  height: 55px;

  transition: ease-in-out all .5s;
}

@media (max-width: 750px) {
    #floatingInput {
      width: 500px;
    }
    #selector {
      width: 500px;
    }
}
@media (max-width: 500px) {
  #floatingInput {
    width: 350px;
  }
  #selector {
    width: 350px;
  }
}